.container
  .row
    .span2.bs-docs-sidebar
      &nbsp;
      = render 'shared/navigation', class_name: 'nav-list affix bs-docs-sidenav'

    .span7.center
      .page-header
        %h1
          Protsahan
          %small (n). Encouragement ...
        %p.caption
          A social enterprise focusing on creative education or skill development by empowering children
          &amp; women at grassroot communities using the five pillars of creativity: Design, Cinema, Stories,
          Photography &amp; Art

      #banner.carousel.slide{data: {interval: 2000}}
        .carousel-inner
          = image_tag 'home.jpg', class: %w(item active)
          = image_tag 'gallery.jpg', class: %w(item)
          = image_tag 'contact_us.jpg', class: %w(item)
          = image_tag 'projects/educare.jpg', class: %w(item)
          = image_tag 'about_us/our-team.jpg', class: %w(item)

    .span3.social
      = link_to  page_path('donate'), class: %w(donate btn btn-large btn-block btn-success show-grid) do
        %i.icon-gift
        Donate
      = render 'shared/like_box'

%footer.container
  .row
    %h3.span12 We are supported by
  %ul.row.unstyled
    %li.span1= image_tag 'world_bank.jpg'
    %li.span2= image_tag 'airtel.png'
    %li.span1= image_tag 'pvr_nest.jpg'
    %li.span2= image_tag 'loonybin.png'

