- content_for :body do
  %header
    - topbar :fluid => true do |bar|
      = bar.collapse
      = bar.brand_name 'Protsahan', root_path
      %p.pull-left.navbar-text Empowering women
      %p.pull-left.divider-vertical

      = render 'shared/navbar', navbar: bar

  #body= content_for?(:content) ? yield(:content) : yield

  %footer
    %p.pull-center &copy; Protsahan 2012 - Built by #{link_to 'loonyb.in', 'http://loonyb.in'}

= render :template => 'layouts/skeleton'
