- content_for :head do
  :css
    body.articles .leader { background-image: url('#{image_path "#{params[:id]}.jpg"}'); }

- content_for :content do
  .scroll-wrapper
    = render 'shared/navigation', class_name: 'nav-list nav-pullout span6'
    %section.leader.span8
      %h2.span3
        = yield :title
        %small= yield :caption

    %section.content.span4= yield

= render :template => 'layouts/application'
